<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
 
    <div class="container">
        
        <ul class="item">
            <h1>Task List Page</h1>
            <% for(let task=0;task<result.length;task++){%>
                
            <li class="task-list">
                <div class="t1">
                    <%= result[task].title%>
                </div>
                <div class="t2">
                    <%= result[task].desc%>
                </div>

                <div class="delete">
                    <a href="/delete/<%= result[task]._id %>">Delete</a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>