<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
 
    <div >
        <h1>Task List Page</h1>
        <ul>
            <% for(let task=0;task<result.length;task++){%>
                
            <li>
                <div>
                    <%= result[task].title%>
                </div>
                <div>
                    <%= result[task].desc%>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>