<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Update Task</title>
</head>
<body>
    <%- include('navbar') %>
  

    <div class="container">
          
        <form  class ="todo"method="post" action="/update">
            <h1>Update Task Page</h1>
            <input class="input" type="text" placeholder="Enter the Task Title" name="title">
            <br><br>
            <textarea class="input" name="desc" id=""></textarea>
            <br><br>
            <button class="input">Add Task</button>
        </form>
</body>
</html>